{% extends 'base.html.twig' %}

{% block body_id 'about' %}

{% block body %}
    <div class="section about">
        <div class="well well-lg">
            {% for follower in followers %}
                <p>{{ follower.username }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
